dropdown-menu {
	position: absolute;
	z-index: 5;
	margin: auto;
	width: 88%;
}

dropdown-menu > div {
	position: absolute;
	width: 280px;
	margin: auto;
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 2px #d3d3d3;
	padding: .5em;
	display: grid;
	grid-row-gap: .5em;
	opacity: 1;
	left: -280px;
}

.menu-item > img {
	width: 1.5em;
}

.menu-item {
	color: #666666;
	font-weight: 900;
	cursor: pointer;
}
.tepago-hide {
	opacity: 0;
	visibility: hidden;
	display: none;
}
