contact-us > *, main-settings > * {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px solid var(--light-grey);
}

contact-us > div > span {
	font-size: .8rem;
	color: #666;
	font-style: italic;
}