itinerary-format, item-format, paypal-crud {
	display: grid;
}

span.date-title {
	background: var(--main-grey);
	text-align: center;
}

.itinerary-item {
	display: grid;
	grid-template-columns: 88px 50px 1fr auto;
	font-size: 14px;
	grid-column-gap: .8em;
}

.itinerary-item > * {
	place-self: center start;
}

.itinerary-item > img {
	width: 50px;
	height: auto;
	padding: .5em;
	border-radius: 50%;
	background: var(--main-grey);
}

span.type {
	font-size: .7rem;
	font-weight: 400;
	color: #FFF;
	padding: .5em;
	background: #8BC34A;
}

.itinerary-item.DISABLED {
	background: #d3d3d3;
}

.itinerary-item.DISABLED .type {
	display: none;
}

.itinerary-item.PENDING .type {
	display: none;
}

.itinerary-item.SCHEDULE > img {
	background: #8bc349;
}

.new-item {
	display: grid;
}

.new-item input {
	border: 1px solid #d3d3d3;
	outline: none;
	height: 6vh;
	padding-left: 5px;
}

.new-item > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
