main-header > div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--header-color);
    color: #ffffff;
}

.balance-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main-header > div > h4 {
	text-align: start;
	place-self: center start;
	padding-left: 5px;
}

div#menu-button {
	width: 2rem;
	height: 2rem;
	place-self: center end;
	align-items: center;
	display: flex;
	cursor: pointer;
}

span.subtotal {
	place-self: center;
}

div#menu-button > img {
	width: 1.5rem;
	height: 1.5rem;
}

.balance-box > p {
    margin: 0;
    place-self: center;
}

span.schedule-limit {
    font-size: 12px;
    grid-area: 2 / 1 / span 1 / span 2;
    place-self: center;
}