main-header > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--header-color);
	color: #ffffff;
}

.balance-box {
	display: flex;
	align-items: center;
}

main-header > div > h3 {
	text-align: start;
	place-self: center start;
	padding-left: 5px;
}

div#menu-button {
	width: 2rem;
	height: 2rem;
	place-self: center end;
	align-items: center;
	display: flex;
}

span.subtotal {
	padding-left: 5px;
}

div#menu-button > img {
	width: 1.5rem;
	height: 1.5rem;
}